.select2{
    width: 100% !important;
}

.app-header__logo{
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1268px) {
    .logo__mobile{
        display: none;
    }
}

.scrollbar-sidebar{
    display: flex;
    flex-direction: column;
}

.wrapper__logout{
    flex: 1;
    display: flex;
    align-items: flex-end;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0!important;
}

.wrapper__logout > ul{
    width: 100%;
}

.wrapper__logout > ul > li{
    background-color: #e0f3ff;
    padding: 10px 0 10px 0;

}

.wrapper__logout > ul > li >a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 !important;
}

.fons__logout{
    font-size: 24px;
    font-weight: 400;
}

.fons__logoutIcon{
    font-size: 24px;
    font-weight: 900;
    margin-right: 10px;
}

/* page login */
.page__login{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* tabke */
.data-table{
    width: 100% !important;
    border: none !important;
}

.dataTables_length{
    margin-top: 20px;
}

.dataTables_filter{
    margin-top: 20px;
}

.thead__dark{
    background-color: #2C061F;
    color: white;
}

.btn__create{
    background-color: black;
    border-radius: 3px;
}

.data-table > tbody > tr > td:last-of-type {
    display: flex !important;
}

.btn__delete{
    margin-left: 10px;
    width: 40px !important;
    height: 30px !important;
}

.form__create > .form-group > div > input::placeholder{
    color: gray;
    opacity: .6;
}

.form__create > .form-group > div > .custom-select{
    color: gray;
    opacity: .6;
}

.err__fields{
    color: red;
    font-size: 12px;
}

/* sidebar */
.app-sidebar__inner {
    font-size: 22px !important;
    font-weight: 500;
    height: 100%;
}

.vertical-nav-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.vertical-nav-menu > li{
  margin-bottom: 15px !important;
}

.vertical-nav-menu > li > a{
    color: gray;
}

.vertical-nav-menu > li:nth-child(2){
   border-bottom: 2px solid rgba(0, 0, 0, 0.125);
}

