.select2{
    width: 100% !important;
}

.app-header__logo{
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1268px) {
    .logo__mobile{
        display: none;
    }
}

.scrollbar-sidebar{
    display: flex;
    flex-direction: column;
}

.wrapper__logout{
    flex: 1;
    display: flex;
    align-items: flex-end;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0!important;
}

.wrapper__logout > ul{
    width: 100%;
}

.wrapper__logout > ul > li{
    background-color: #e0f3ff;
    padding: 10px 0 10px 0;

}

.wrapper__logout > ul > li >a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 !important;
}

.fons__logout{
    font-size: 24px;
    font-weight: 400;
}

.fons__logoutIcon{
    font-size: 24px;
    font-weight: 900;
    margin-right: 10px;
}

/* page login */
.page__login{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* tabke */
.data-table{
    width: 100% !important;
    border: none !important;
}

.dataTables_length{
    margin-top: 20px;
}

.dataTables_filter{
    margin-top: 20px;
}

.thead__dark{
    background-color: #2C061F;
    color: white;
}

.btn__create{
    background-color: black;
    border-radius: 3px;
}

.data-table > tbody > tr > td:last-of-type {
    display: flex !important;
}

.btn__delete{
    margin-left: 10px;
    width: 40px !important;
    height: 30px !important;
}

.form__create > .form-group > div > input::placeholder{
    color: gray;
    opacity: .6;
}

.form__create > .form-group > div > .custom-select{
    color: gray;
    opacity: .6;
}

.err__fields{
    color: red;
    font-size: 12px;
}

/* sidebar */
.app-sidebar__inner {
    font-size: 18px !important;
    font-weight: 500;
    height: 100%;
}

.vertical-nav-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.vertical-nav-menu > li{
  margin-bottom: 10px !important;
}

.vertical-nav-menu > li > a{
    color: gray;
}

.list-group-item.active {
    z-index: 2;
    background-color: #fff;
    color: #FDBF0E;
    border: 1px solid rgba(0,0,0,0.125);
}
.list-group-item.active:hover{
    border: 1px solid rgba(0,0,0,0.125) !important;
}

.btn-warning  {
    background-color: #F6B800;
    border-color: #F6B800;
    border-radius: 25px;
    color: #FFF;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    padding: 13px 30px;}

    @media (max-width: 768px) {
        .carousel-inner .carousel-item > div {
            display: none;
        }
        .carousel-inner .carousel-item > div:first-child {
            display: block;
        }
    }
    
    .carousel-inner .carousel-item.active,
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        display: flex;
    }
    
    /* display 3 */
    @media (min-width: 768px) {
        
        .carousel-inner .carousel-item-right.active,
        .carousel-inner .carousel-item-next {
          transform: translateX(33.333%);
        }
        
        .carousel-inner .carousel-item-left.active, 
        .carousel-inner .carousel-item-prev {
          transform: translateX(-33.333%);
        }
    }
    
    .carousel-inner .carousel-item-right,
    .carousel-inner .carousel-item-left{ 
      transform: translateX(0);
    }

    .list-social li a i {
        font-size: 80px;
        color: #932520;
    }

    #header > .navbar-brand > span {
        color: #932520;
        display: inline-block;
        font-size: 18px;
        vertical-align: middle;
    }